@charset "utf-8";

/*初期スタイル調整*/
* {box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
  color: #806342;
  background-color: #fff;
}
/* 見出しの上下の外余白や行の高さを指定 */
h1,h2{
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;
}
/* リンクの文字色や文字の装飾を指定 */
a {
  color: #806342;
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;    /*画像の最大幅を指定*/
  height: auto;
}
address {
  font-style: normal;
}

/* ヘッダー */
.header {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

/* ロゴ */
.logo {
  margin: 0;
  text-align: center;
}

/* メイン */
.main{
  width: 1000px;
  margin: 0 auto;
}
/* トップ(メインイメージ) */
.top{
  margin-bottom: 20px;
  text-align: center;
}

/* ナビ */
.nav {
  margin-bottom: 50px;
  text-align: center;
}
.nav-list a {
  display: inline-block;
  padding: 0 15px;
  line-height: 1.2;
  text-transform: uppercase;
}